<html>
	<head>
	<link th:href = "@{/css/style.css}"rel="stylesheet">
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
		<style>
		h1 { 
		color: #161616;
		  display: block;
		  font-size: 2em;
		  margin-top: 0.67em;
		  margin-bottom: 0.67em;
		  margin-left: 0;
		  margin-right: 0;
		  font-weight: bold;
		  font-family: Brush Script MT
		}
		p { 
		  color: #826343;
		  display: block;
		  margin-top: 0.67em;
		  margin-bottom: 0.67em;
		  margin-left: 0;
		  margin-right: 0;
		}
		
		</style>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="home">DaleenChic</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="home">Home</a></li>
		      <li><a href="all-brands">Brands</a></li>
		      <li><a href="all-products">Products</a></li>
		      <li><a href="collection">Collection</a></li>
		      <li><a href="client">Client</a></li>
		      <li><a href="order-info-view">Order</a></li>
		      
		    </ul>
		  </div>
		</nav>
		<h1> Daleen Chic Online Jewelry Shop </h1>
		<p><b>This is an online Jewelry shop that gather different brands' products in one place to bring the best experience for you.
		This website is a training project that is done after finishing JAVA Programming Training with HTU cohort 7 by the trainee Daleen Hamdi, with special thanks for the technical instructor Eng.Ahmad Dana.
		</b></p>
		<p><b>Note that:</b> this is not a real shop, yet it uses real names for brands and products </p>
	</body>
</html>